<div class="container">
  <div class='jumbotron'>
    <h2 class='center-text'>I'd like to show up in front of the video</h2>
    <div class="wrapper"></div>

    <div class="text-center">
      <a class='btn btn-primary btn-lg' role='button'>Learn More</a>
    </div>
  </div>
</div>